testdata/GeoIP2-City.mmdb
testdata/GeoIP2-Connection-Type.mmdb
testdata/GeoIP2-Country.mmdb
testdata/GeoIP2-ISP.mmdb
testdata/GeoLite2-ASN.mmdb
testdata/GeoLite2-City.mmdb
testdata/GeoLite2-Country.mmdb

testdata/GeoIP2-Anonymous-IP-Test.mmdb
testdata/GeoIP2-City-Test.mmdb
testdata/GeoIP2-Connection-Type-Test.mmdb
testdata/GeoIP2-Country-Test.mmdb
testdata/GeoIP2-Domain-Test.mmdb
testdata/GeoIP2-Enterprise-Test.mmdb
testdata/GeoIP2-ISP-Test.mmdb
testdata/GeoLite2-ASN-Test.mmdb
